{{ taskUser | json }}

<form class="max-w-md mx-auto mt-8" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="name">
        Name
      </label>
      <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" [(ngModel)]="taskUser.name" name="name" required>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="surname">
        Surname
      </label>
      <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="surname" type="text" [(ngModel)]="taskUser.surname" name="surname" required>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="nickname">
        Nickname
      </label>
      <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nickname" type="text" [(ngModel)]="taskUser.nickname" name="nickname" required>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="email">
        Email
      </label>
      <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" [(ngModel)]="taskUser.email" name="email" required>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="imageUrl">
        Image URL
      </label>
      <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="imageUrl" type="text" [(ngModel)]="taskUser.imageUrl" name="imageUrl">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 font-bold mb-2" for="password">
        Password
      </label>
      <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" [(ngModel)]="taskUser.password" name="password" required>
    </div>
    <div class="flex items-center justify-center">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Submit
      </button>
    </div>
  </form>
  